.game {
	border:solid 1px #333;
    background-color: #192b3c;
	margin: auto;
	width : 720px;
}

.center {
    display: table;
    margin: 0 auto;
}

ul.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul.horizontal-list li {
    display: inline;
    padding-right: 1em;
}

ul.horizontal-list  li:last-child {
    padding-right: 0;
}

.square-font {
    font-family: "courier", monospace;
    font-size: 80%;
}
